.activity {
    width: 98vw;

	.activityList {
		width: 72%;
		float: left;

		margin-left: 60px;

		& .Row {
			display: flex;
			justify-content: left;

			& .Col {
				width: 30em;
				margin: 10px;
			}
		}
	}

	.aside {
		width: 18%;
		display: inline;

		& .dateBlock {
			width: 300px;
			height: 380px;
			float: left;
			margin-bottom: 20px;

			display: flex;
			justify-content: right;

			border-left: 3px solid rgb(255, 170, 0);

			& {
				color: rgb(255, 170, 0);
				font-weight: bolder;
			}
		}
	}
}
