.calendar {
    height: 80px;
    margin: 40px 20px 0 0;
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    user-select: none;

    & .years {
        input{
            border: 0.5px solid rgb(58, 58, 58);
            background-color: transparent;
            display: inline;
        }
        h5 {
            display: inline;
            margin: 0 10px 0 10px;
            font-weight: bold;
        }
    }

    & .season {
        & a{
            color: rgb(164, 164, 164) !important;
            
            text-shadow: 1px 0 0 rgb(164, 164, 164);
            text-decoration: none;
            font-family: DFKai-sb;
            font-size: 20px;
            margin-left: 60px;
        }
    }
}