.title {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
}

.slideImage {
  width: calc(100vw);
  height: calc(40vh);
  text-align: center;
  overflow:hidden;


  & .img{
    width: auto;
    height: auto;
    max-height: 500px;
  }
}


