.title {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
}

.slideImage {
  overflow:hidden;
  width: calc(100vw);
  height: calc(40vh);
}

.img{
  width: calc(100%);
  height: calc(100%);
}
