.scheblock {
    padding: 1px;
    width: calc(100vw);
    height: calc(95vh - 150px);
    background-color: rgb(169, 161, 161);
}

.cleantimeButton {
    width: calc(80px);
    height: calc(80px);
    border-radius: 12px;
    border: 1px solid white;
    box-shadow: 1px 1px 1px 1px;
    background-color: rgb(157, 157, 250);
    position: absolute;
    top: calc(80vh);
    left: calc(92vw);
}